// @import '../../../style/reset.scss';
@import '../../../style/variables.scss';

.greeting {
  padding: 50px 0;

  &__numbers{
    margin-top: 3.2em;
    display: flex;
    justify-content: center;
    gap: 0.8em;
  }

  &__btn{
    border: none;
    background-color: transparent;
    font: $montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  // &__btn:active{
  //   background-color: $yellow;
  // }
}