// @import '../../../style/reset.scss';
// @import '../../../style/variables.scss';

.greeting {
  padding: 119px 0 50px 0;
  position: relative;


  &__numbers{
    margin-top: 3.2em;
    display: flex;
    justify-content: center;
    gap: 0.8em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__btn{
    border: none;
    background-color: transparent;
    font: $montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    }
  }

    .greeting__btn.active{
        background-color: $yellow;
        color: $white;
    }