.chatlinks {
  padding: 26px 0;
  display: flex;
  gap: 24px;
  justify-content: space-between;

  &__subtitle {
    width: 50%;
    padding: 2px;
    font-weight: 500;
    border-radius: 3px;
    border: $yellow-dark 2px solid;
    background-color: inherit;
    display: flex;
    justify-content: center;
    // align-items: center;

    &:hover {
      & > .chatlinks__link {
        background-color: $yellow-dark;
      }
    }

    &_selected {
      & > .chatlinks__link {
        background-color: $yellow;
      }
    }

    &_disabled {
      border: $grey-default 2px solid;
      color: $grey-default;
      background-color: $grey;
    }
  }
  &__link {
    background-color: inherit;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__personal {
    &_hidden {
      display: none;
    }
  }
}

@media (max-width: 836px) {
  .chatlinks {
    padding: 26px 10vw;
  }
}

@media (max-width: 376px) {
  .chatlinks {
    padding: 16px 5vw;
    &__personal {
      &_hidden {
        display: block;
      }
      &_all {
        display: none;
      }
    }
  }
}
