@import '../../style/variables';

.support{
    max-width: 87vw;
    height: 100vh;
    margin: 0 auto;
    padding-top: 32vh;
    // position: relative;
    background: url("../../images/bgSupport.jpg");
    background-size: cover;

    &__bg{
        width: 100%;
        display: block;
        // position: relative;
    }

    &__window{
        max-width: 62.5em;
        // position: absolute;
        background-color: $white-dark;
        border-radius: 3px;
        box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.25);
        // margin-top: 23em;
        // left: 31.2em;
        // width: 100%;
        // padding: 2.0em;
        margin: 0 auto;
    }

    &__content{
        max-width: 46.5em;
        margin: 0 auto;
        padding: 100px 0;
    }

    &__title{
    font: $montserrat;
    font-size: 2.4em;
    font-weight: 600;
    line-height: 3.2em;
    }

&__text{
    font: $montserrat;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 2em;
    margin-bottom: 1em;
}

&__email{
    font: $montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
    
}