// @import '../../style/variables.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // min-height: 72px;
  height: 72px;
  // margin-bottom: 25px;
  background-color: $white-dark;
  display: flex;
  align-items: center;
  z-index: 1;

  &__container {
    width: 87vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
  }

  &__additional{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  &__info{
    font-style: normal;
  }
}