$white: #fff;
$white-dark: #fffff3;
$black: #292929;
$green-dark: #387e74;
$green: #449f93;
$grey: #dfe0df;
$grey-default: #ADADAD;
$grey-dark: #555454;
$yellow-dark: #feb706;
$yellow: #fbca5c;

$montserrat: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
$montserrat-alternates: "Montserrat Alternates", "Montserrat", "Roboto", "Open Sans", "Lato", sans-serif;

.paragraph {
  font-family: $montserrat;
  font-size: 1.6em;
  // line-height: 1.25em;
  font-weight: 400;
  color: $black;
}

@mixin button {
  font-family: $montserrat;
  font-size: 1.6em;
  // line-height: 1.25em;
  border: none;
  border-radius: 3px;
  color: $black;
  text-align: center;
}

.button-default {
  @include button;
  width: 268px;
  height: 52px;
  background-color: inherit;
}

.button-green {
  @include button;
  padding: 16px;
  width: 268px;
  height: 52px;
  background-color: $green;
  color: $white;
  font-weight: 600;

  &_disabled {
    background-color: $grey;
    color: $grey-default;
  }

  :hover {
    background-color: $green-dark;
  }
}

.button-yellow {
  @include button;
  padding: 10px;
  width: 612px;
  height: 52px;
  background-color: $yellow-dark;
  font-weight: 500;
}


