.paragraph {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  color: #292929;
}

.title-usual {
  font-size: 2.4em;
  line-height: 1.25em;
  font-weight: 400;
}

.button-default {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  border: none;
  border-radius: 3px;
  color: #292929;
  text-align: center;
  padding: 16px 24px;
  background-color: inherit;
}

.button-green {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  border: none;
  border-radius: 3px;
  color: #292929;
  text-align: center;
  padding: 16px;
  width: 268px;
  height: 52px;
  background-color: #449f93;
  color: #fff;
  font-weight: 600;
}
.button-green_disabled {
  background-color: #dfe0df;
  color: #adadad;
}
.button-green:hover {
  background-color: #387e74;
}

.button-yellow {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  border: none;
  border-radius: 3px;
  color: #292929;
  text-align: center;
  padding: 10px;
  width: 612px;
  height: 52px;
  background-color: #feb706;
  font-weight: 500;
}

.window {
  position: relative;
  top: 25%;
  left: 25%;
  padding: 100px 80px;
  width: 52%;
  background-color: #fffff3;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
}

.input {
  padding: 10px 8px;
  color: #292929;
  border-radius: 3px;
  border: 1px #adadad solid;
}

.greeting {
  padding: 119px 0 50px 0;
  position: relative;
}
.greeting__numbers {
  margin-top: 3.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8em;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.greeting__btn {
  border: none;
  background-color: transparent;
  font: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.greeting__btn.active {
  background-color: #fbca5c;
  color: #fff;
}

.greetings-border {
  border-radius: 3px;
  border: 1px dashed #feb706;
  width: 712px;
  margin: 0 auto;
  padding: 24px;
}

.greetings {
  max-width: 712px;
  background-color: #fbca5c;
  margin: 0 auto;
  padding: 4em 10em;
}
.greetings__title {
  font-size: 2.4em;
  font-weight: 600;
  line-height: 3.2em;
  text-align: center;
}
.greetings__description {
  font: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 2.5em;
}
.greetings__button-green:hover {
  background-color: #387e74;
}
.greetings__button_start {
  margin-bottom: 54px;
}

.button-green:hover,
.button-default:hover {
  background-color: #387e74;
}

.button-default:hover {
  color: #fff;
}

.paragraph {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  color: #292929;
}

.title-usual {
  font-size: 2.4em;
  line-height: 1.25em;
  font-weight: 400;
}

.button-default {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  border: none;
  border-radius: 3px;
  color: #292929;
  text-align: center;
  padding: 16px 24px;
  background-color: inherit;
}

.button-green {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  border: none;
  border-radius: 3px;
  color: #292929;
  text-align: center;
  padding: 16px;
  width: 268px;
  height: 52px;
  background-color: #449f93;
  color: #fff;
  font-weight: 600;
}
.button-green_disabled {
  background-color: #dfe0df;
  color: #adadad;
}
.button-green:hover {
  background-color: #387e74;
}

.button-yellow {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  border: none;
  border-radius: 3px;
  color: #292929;
  text-align: center;
  padding: 10px;
  width: 612px;
  height: 52px;
  background-color: #feb706;
  font-weight: 500;
}

.window {
  position: relative;
  top: 25%;
  left: 25%;
  padding: 100px 80px;
  width: 52%;
  background-color: #fffff3;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
}

.input {
  padding: 10px 8px;
  color: #292929;
  border-radius: 3px;
  border: 1px #adadad solid;
}

.welcome {
  max-width: 1440px;
  margin: 0 auto;
  background: url("../../../images/welcome/bgAll.jpg");
  background-size: cover;
  position: relative;
}
.welcome__bg {
  width: 100%;
}
.welcome__text {
  position: absolute;
  left: 50%;
  top: 73vh;
  font-family: Montserrat Alternates;
  font-size: 3.2em;
  font-style: normal;
  font-weight: 600;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}/*# sourceMappingURL=Home.css.map */