@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600&family=Montserrat:ital,wght@0,400;0,500;0,600;1,300&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
button {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.paragraph {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  color: #292929;
}

.title-usual {
  font-size: 2.4em;
  line-height: 1.25em;
  font-weight: 400;
}

.button-default {
  padding: 16px 24px;
  min-height: 52px;
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  border: none;
  border-radius: 3px;
  color: #292929;
  text-align: center;
  background-color: inherit;
}

.button-green {
  padding: 16px 24px;
  min-height: 52px;
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  border: none;
  border-radius: 3px;
  color: #292929;
  text-align: center;
  background-color: #449f93;
  color: #fff;
  font-weight: 600;
}
.button-green_disabled {
  background-color: #dfe0df;
  color: #adadad;
}
.button-green:hover {
  background-color: #387e74;
}

.button-yellow {
  padding: 16px 24px;
  min-height: 52px;
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  border: none;
  border-radius: 3px;
  color: #292929;
  text-align: center;
  padding: 10px;
  width: 612px;
  height: 52px;
  background-color: #feb706;
  font-weight: 500;
}

.window {
  position: relative;
  top: 24%;
  left: 25%;
  padding: 9vh 5vw;
  width: 52%;
  background-color: #fffff3;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
}

.input {
  width: 100%;
  padding: 10px 8px;
  color: #292929;
  border-radius: 3px;
  border: 1px #adadad solid;
}

@media (max-width: 999px) {
  .window {
    left: 15%;
    width: 70%;
  }
}
@media (max-width: 835px) {
  .window {
    padding: 5vh 7vw;
  }
}
@media (max-width: 767px) {
  .window {
    padding: 50px 40px;
  }
}
body {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 10px;
  color: #292929;
}

.app__chat {
  position: absolute;
  top: 72px;
  width: 86vw;
  height: calc(100vh - 74px);
  margin: 0 7vw;
}
.app__chat > * {
  height: 100%;
}

@font-face {
  font-family: "PhosphateInline";
  src: local("PhosphateInline"), url(../fonts/Phosphate_Inline/PhosphateInline.ttf) format("truetype");
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: #fffff3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.header__container {
  width: 87vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.header__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__info {
  font-style: normal;
}

.greeting {
  height: 100%;
  padding: 4vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.greeting__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}
.greeting__btn {
  padding: 6px 13px;
  border-radius: 3px;
  border: none;
  background-color: transparent;
  font: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.greeting__btn.active {
  background-color: #fbca5c;
  color: #fff;
}

@media (max-width: 835px) {
  .greeting {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.greetings-border {
  border-radius: 3px;
  border: 1px dashed #feb706;
  width: 50vw;
  height: 75vh;
  margin: 0 auto;
  padding: 24px;
}

.greetings {
  width: 100%;
  height: 100%;
  background-color: #fbca5c;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3vh 7vw;
}
.greetings__text {
  margin: 3vh 0;
}
.greetings__title {
  margin-bottom: 2vh;
  font-size: 2.4em;
  font-weight: 600;
  line-height: 1.33em;
  text-align: center;
}
.greetings__description {
  font: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25em;
}
.greetings__image {
  height: 45%;
  width: inherit;
}
.greetings__buttons_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vh;
}
.greetings__button-green:hover {
  background-color: #387e74;
}
.greetings__button_start {
  margin-bottom: 54px;
}

.button-green:hover,
.button-default:hover {
  background-color: #387e74;
}

.button-default:hover {
  color: #fff;
}

@media (max-width: 999px) {
  .greetings-border {
    width: 75vw;
  }
}
@media (max-width: 835px) {
  .greetings-border {
    padding: 24px 16px;
  }
}
@media (max-width: 767px) {
  .greetings-border {
    width: 80vw;
    padding: 12px;
  }
  .greetings__button {
    width: 40vw;
  }
}
@media (max-height: 799px) {
  .greetings-border {
    width: 60vw;
    height: 73vh;
  }
}
@media (max-height: 699px) {
  .greetings {
    padding: 3vh 7vw;
  }
  .greetings-border {
    width: 70vw;
    height: 72vh;
    padding: 12px;
  }
}
@media (max-height: 599px) {
  .greetings-border {
    width: 70vw;
  }
  .greetings__buttons_two {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.welcome {
  position: relative;
  height: 100%;
  background: url("../../../images/welcome/background_plot.svg"), url("../../../images/welcome/background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome__bg {
  height: 60%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  margin: 7vh 20vw 0 27vw;
  text-align: center;
  max-width: 100%;
}
.welcome__text {
  position: absolute;
  left: 50%;
  top: 65vh;
  font-family: Montserrat Alternates;
  font-size: 3.2em;
  font-style: normal;
  font-weight: 600;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

@media (max-width: 835px) {
  .welcome__text {
    top: 55vh;
  }
}
.home__greeting {
  height: 100%;
}
.home__welcome {
  height: 100%;
}

.chatlist {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background: url("../../images/chatList/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.chatlist__container {
  width: 90%;
}
.chatlist__header {
  margin: 0 auto 30px;
  width: 60%;
  color: #292929;
  font-family: "Montserrat Alternates", "Montserrat", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 3.2em;
  font-weight: 600;
}
.chatlist__search {
  position: relative;
  margin: 0 auto 32px;
  width: 60%;
  height: 44px;
}
.chatlist__search::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 8px;
  background-image: url("../../images/chatList/search.svg");
  z-index: 1;
}
.chatlist__input {
  position: relative;
  border: 0;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  color: #292929;
  background: #fff;
  border-radius: 3px;
  border: #adadad 1px solid;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.chatlist__list {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.chatlist__item {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #292929 1px;
  border-radius: 3px;
  background-color: #fff;
}
.chatlist__item:has(.chatlist__link:focus) {
  background-color: inherit;
}
.chatlist__item:hover {
  background-color: inherit;
}
.chatlist__item:hover > .chatlist__link {
  background-color: #387e74;
  color: #fff;
}
.chatlist__link {
  padding: 11px;
  background-color: #fff;
}
.chatlist__link:focus {
  background-color: #449f93;
  color: #fff;
}
.chatlist__more:has(.chatlist__more_link:focus) {
  background-color: #fff;
  border: #449f93 solid 4px;
}
.chatlist__more_link {
  font-weight: 500;
}
.chatlist__more_link:focus {
  padding: 10px;
  background-color: inherit;
  color: #292929;
}
.chatlist__newchat {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  border: 2px solid #387e74;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.chatlist__newchat:hover {
  background-color: #387e74;
  color: #fff;
}
.chatlist__addchat {
  display: inline;
}

@media (max-width: 479px) {
  .chatlist__header {
    margin: 0 0 30px 0;
    width: 100%;
    text-align: center;
  }
  .chatlist__input {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.show_message {
  position: relative;
  padding: 0 1vw;
  height: calc(100% - 90px - 140px);
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
.show_message_input {
  height: calc(100% - 90px - 100px);
}
.show_message__button {
  position: fixed;
  bottom: 150px;
  right: calc(7vw + 25px);
  background-color: inherit;
}
.show_message__button_input {
  bottom: 110px;
}
.show_message__button_down > * {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.show_message__button_up {
  -webkit-transform: none;
          transform: none;
}
.show_message__messages {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 24px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.message {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  text-align: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.message_right {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.message__name {
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 500;
  color: #fff;
}
.message__text {
  padding: 8px;
  max-width: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  border: 1px solid #fbca5c;
  background-color: #fff;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 400;
}
.message__date {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 835px) {
  .show_message {
    padding: 0 5vw;
  }
  .show_message__button {
    right: 5vw;
  }
}
@media (max-width: 559px) {
  .show_message__button {
    bottom: 160px;
  }
  .show_message__button_input {
    bottom: 105px;
  }
}
@media (max-width: 479px) {
  .message {
    width: 90%;
  }
}
.input-message__form {
  position: relative;
  background-color: #fff;
}
.input-message__emoji {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 26px;
  left: 8px;
  z-index: 1;
}
.input-message__emoji:hover {
  cursor: pointer;
}
.input-message__emoji:hover > path {
  fill: #387e74;
}
.input-message__emoji:hover ~ .input-message__emoji_text {
  visibility: visible;
  opacity: 1;
}
.input-message__emoji_text {
  position: absolute;
  bottom: 58px;
  left: 8px;
  visibility: hidden;
  color: #292929;
  text-align: center;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
  padding: 5px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.input-message__input {
  position: relative;
  width: 100%;
  padding: 30px 0 30px 44px;
  border: 1px solid #adadad;
  border-left: none;
  border-right: none;
}
.input-message__input:focus-visible {
  outline: none;
}
.input-message__button {
  position: absolute;
  background-color: inherit;
  right: 26px;
  top: 26px;
}
.input-message__icon {
  width: 24px;
  height: 24px;
}
.input-message__icon_send path {
  fill: #387e74;
}

.close {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(173, 173, 173, 0.4);
}
.close__content {
  position: relative;
  margin: 35vh auto;
  width: 575px;
  padding: 24px 35px 24px 60px;
  background-color: #feb706;
  border: 1px solid #888;
}
.close__icon {
  position: absolute;
  top: 26px;
  left: 16px;
}
.close__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.close__title {
  margin-bottom: 24px;
  text-align: left;
}
.close__question {
  margin-bottom: 16px;
  text-align: left;
  font-weight: 600;
}
.close__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.close__button {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.close__button:hover {
  background-color: #449f93;
  color: #fff;
}
.close__button_yes {
  background-color: #dfe0df;
}
.close__button_no {
  background-color: #fffff3;
}

@media (max-width: 999px) {
  .close__content {
    width: 70vw;
  }
}
@media (max-width: 767px) {
  .close__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .close__buttons > * {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .close__content {
    width: 70vw;
    padding: 15px 20px 15px 40px;
  }
  .close__title {
    margin-bottom: 20px;
  }
  .close__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .close__icon {
    left: 10px;
  }
}
.chatpage {
  height: 100%;
  position: relative;
  background-color: #fffff3;
}
.chat {
  position: relative;
  height: calc(100% - 95px);
  width: 86vw;
  background: url(../../images/chat/background_chat.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chat__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chat__title {
  padding: 0 24px;
  width: 83%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbca5c;
}
.chat__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.chat__name {
  font-size: 2.4em;
  font-weight: 600;
}
.chat__close {
  width: 24px;
  height: 24px;
  padding: 0;
}
.chat__back {
  padding: 36px 0;
  width: 17%;
  text-align: center;
  background-color: #449f93;
  color: #fff;
}
.chat__back:hover {
  background-color: #387e74;
}
.chat__input {
  position: absolute;
  width: 100%;
  bottom: 20px;
}
.chat__login {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
  background-color: #fff;
}
.chat__login_text {
  padding: 0 7%;
  margin-bottom: 24px;
}
.chat__button_input {
  width: 268px;
}

@media (max-width: 835px) {
  .chat {
    width: 100vw;
  }
  .chat__title {
    width: 70%;
    padding-left: 5vw;
  }
  .chat__back {
    width: 30%;
  }
}
@media (max-width: 479px) {
  .chat__back {
    width: 40%;
  }
  .chat__button_input {
    width: 70%;
  }
}
.login {
  position: relative;
  height: 90%;
  background: url(../../images/login/background.svg);
  background-position: top center;
  background-repeat: no-repeat;
}
.login__title {
  margin-bottom: 40px;
  font-size: 2.4em;
  line-height: 1.33em;
  font-weight: 400;
}
.login__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.login__name {
  max-width: 255px;
}
.login__name_error {
  color: #bd0b00;
  border-color: #bd0b00;
}
.login__name_error:focus {
  border-color: #bd0b00;
}
.login__button {
  margin-top: 40px;
  width: 100%;
}
.login__error {
  font-size: 1.4em;
  line-height: 1.29em;
  font-weight: 400;
}

.newchat {
  background: url("../../images/newChat/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.newchat__window {
  position: relative;
}
.newchat__close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 24px;
  height: 24px;
}
.newchat__header {
  margin-bottom: 10%;
}
.newchat__form {
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.newchat__title {
  margin-bottom: 15px;
}
.newchat__input {
  max-width: 368px;
  margin-bottom: 34px;
}
.newchat__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.newchat__button {
  width: 100%;
}

.endpage {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding-top: 65vh;
  background: url("../../images/welcome/bgAll.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}
.endpage .welcome__bg {
  width: 100%;
}
.endpage__title {
  font-family: Montserrat Alternates;
  font-size: 3.2em;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 2vh;
}
.endpage__button {
  margin-top: 2vh;
}

.rules {
  overflow-y: auto;
}
.rules__title {
  padding: 40px 0;
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
.rules__list {
  width: 100%;
  margin-bottom: 1vh;
  padding: 0 5vw;
}
.rules__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 3vh;
}
.rules__item:before {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #449f93;
  content: "";
  margin-right: 10px;
  text-align: center;
  margin-right: 16px;
}
.rules__button {
  margin-bottom: 1vh;
}

.support {
  height: 100%;
  background: url("../../images/bgSupport.jpg");
  background-size: cover;
}
.support__close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.support__content {
  max-width: 46.5em;
  margin: 0 auto;
}
.support__title {
  font-family: "Montserrat", "Montserrat Alternates", "Roboto", "Open Sans", "Lato", sans-serif;
  font-size: 2.4em;
  font-weight: 600;
  line-height: 3.2em;
}
.support__text {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 2em;
  margin-bottom: 1em;
}
.support__email {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.support__button {
  margin-top: 3vh;
  width: 50%;
}

.chatlinks {
  padding: 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.chatlinks__subtitle {
  width: 50%;
  padding: 2px;
  font-weight: 500;
  border-radius: 3px;
  border: #feb706 2px solid;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.chatlinks__subtitle:hover > .chatlinks__link {
  background-color: #feb706;
}
.chatlinks__subtitle_selected > .chatlinks__link {
  background-color: #fbca5c;
}
.chatlinks__subtitle_disabled {
  border: #adadad 2px solid;
  color: #adadad;
  background-color: #dfe0df;
}
.chatlinks__link {
  background-color: inherit;
  width: 100%;
  padding: 10px;
}

@media (max-width: 835px) {
  .chatlinks {
    padding: 26px 10vw;
  }
}
@media (max-width: 835px) {
  .app__chat {
    width: 100vw;
    margin: 0;
  }
}
@media (max-width: 479px) {
  .app__chat {
    font-size: 8px;
  }
}/*# sourceMappingURL=style.css.map */