// @import '../../../style/_variables.scss';

.greetings-border {
    border-radius: 3px;
    border: 1px dashed $yellow-dark;
    width: 50vw;
    margin: 0 auto;
    padding: 24px;
}

.greetings {
    max-width: 50vw;
    background-color: $yellow;
    margin: 0 auto;
    padding: 2.8vw 7vw;

    &__title {
        font-size: 2.4em;
        font-weight: 600;
        line-height: 3.2em;
        text-align: center;
    }

    &__description {
        font: $montserrat;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25em;
        margin-bottom: 2.5em;
    }
    &__image {
        // height: 16vh;
        // height: auto;
        width: 13vh;
    }

    &__buttons_two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // gap: 24px;
    }

    &__button {
        // width: 268px;
        &-green {
            &:hover {
                background-color: $green-dark;
            }
        }
    }

    &__button_start {
        width: 100%;
        margin-bottom: 54px;
    }
}

//   .button-green{
//       width: 18.6vw;
//     //   height: 3.6vw;
//   }

.button-green:hover,
.button-default:hover {
    background-color: $green-dark;
}

.button-default:hover {
    color: $white;
}

@media (max-width: 767px){
    .greetings{
        padding: 5.2vw 5.2vw;

        &__title {
            font-size: 2.4em;
            font-style: normal;
            font-weight: 600;
            line-height: 1.5em;
            margin: 1em auto;
        }
        
        &__button{
            width: 100%;
        }

    }
            
}

@media (max-width: 399px){
    .greetings-border {
        width: 100%;
        border: none;
        padding: 0;

    }

    .greetings{
        max-width: none;

        &__image{
            width: 23vh;
            margin: 10vw auto;
        }

        &__button{
            width: 100%;
        }

        &__description{
            font-size: 1.7em;
            line-height: 1.4em;
            margin-bottom: 2.5em;
            }
        
    }


}