// @import '../../style/variables.scss';

 .endpage {
    max-width: 1440px;
    height: 1024px;
    margin: 0 auto;
    background: url("../../images/welcome/bgAll.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding-top: 728px;

    .welcome__bg {
        width: 100%;
    }

    &__title {
        font-family: Montserrat Alternates;
        font-size: 3.2em;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 24px;
        
    }
    &__button {
        margin-top: 26px;
    }
}

