.newchat {
  background: url("../../images/newChat/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__window {
    position: relative;
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 24px;
    height: 24px;
  }

  &__header {
    margin-bottom: 10%;
  }

  &__form {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__input {
    max-width: 368px;
    margin-bottom: 34px;
  }
  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__button {
    // max-width: 368px;
    width: 100%;
  }
}

@media (max-width: 343px) {
 .newchat {
  &__form {
    width: 100%;
  }
 }
}
