/* @import './style/style.css'; */
.App {
  /* overflow-y: auto; */
  position: relative;
  /* overflow: scroll; */
  /* width: 86vw; */
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  text-align: center;
  /* overflow: hidden; */
  /* padding: 20px; */
  /* background-color: #f6f6d9; */
}

* {
  transition: all 0.3s ease;
}

